.tp-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}
.tp-full-width {
  width: 100%;
}
.mat-mdc-autocomplete-panel{
  padding: 0px 0px;
  background: #fff;
  box-shadow: none;
  .mdc-list-item{
    align-items: center!important;
    background: rgba(1,66,172,.1)!important;
    border-color: #0142ac!important;
    border-radius: 2px;
    color: #0142ac!important;
    cursor: pointer!important;
    display: flex;
    flex-direction: row-reverse!important;
    height: inherit;
    max-width: 100%!important;
    min-height: 40px!important;
    opacity: 1!important;
    outline: 0!important;
    padding-bottom: 4px!important;
    padding-top: 4px!important;
    position: relative!important;
    transition-duration: .1s!important;
    transition-property: background-color,color,border-color,opacity,box-shadow!important;
    transition-timing-function: ease-out!important;
    width: 100%;
    word-break: break-word!important;
    border: 1px solid;
    margin-bottom: 5px;
  }
}
