<div class="row min-h-100vh min-h-100vhh stepper-wrapper">
  <div class="col-md-12  pl-40  align-self-center center-mobile">
    <div class="row">
      <div class="col-md-12 mb-4">
        <h1>
          For best user experience, please submit this survey on a desktop or laptop computer
        </h1>
        <!--      <p>-->
        <!--        (Upload your profile image and we will crop it for you to fit in this section)-->
        <!--      </p>-->
      </div>
    </div>

    <div class="col-md-12 mb-4">
      <div class="btn-grp">
        <button class="mat-custom-button" mat-button matStepperNext>Start </button>
      </div>

    </div>

  </div>
</div>
