<form [formGroup]="form">

  <div class="row min-h-100vh stepper-wrapper">
    <div class="col-md-6 p-0 pl-40 position-relative align-self-center">
      <div class="row">
        <h1 class="pl-35">
          <span>6 <svg class="renderer-components-block-counter__arrow-icon css-who0lh" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path></svg></span>
          Upload Writing Samples</h1>

        <div class="col-md-12 mb-4">
          <div class="wrapper-sc">

            <div class="wrapper-border">
              <input class="input-file" id="input-file" type="file" accept="image/*" (change)="onFileChanged($event , 'writingSamples')"  />

            </div>

            <div class="chooseFile" id="chooseFile" *ngIf="!this.form.get('writingSamples')?.value" style="display:flex">
              <div class="chooseFile-wrapper">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fillRule="evenodd" clipRule="evenodd"><path d="M11.492 10.172l-2.5 3.064-.737-.677 3.737-4.559 3.753 4.585-.753.665-2.5-3.076v7.826h-1v-7.828zm7.008 9.828h-13c-2.481 0-4.5-2.018-4.5-4.5 0-2.178 1.555-4.038 3.698-4.424l.779-.14.043-.789c.185-3.448 3.031-6.147 6.48-6.147 3.449 0 6.295 2.699 6.478 6.147l.044.789.78.14c2.142.386 3.698 2.246 3.698 4.424 0 2.482-2.019 4.5-4.5 4.5m.978-9.908c-.212-3.951-3.472-7.092-7.478-7.092s-7.267 3.141-7.479 7.092c-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.522-5.408"/></svg>
              </div>
              <div class="spacer-16px"></div>
              <div aria-hidden="true">
                <div class="choose-file">
                  <strong>Choose file</strong>
                </div>
                <div class="drag-drop">or
                  <strong>drag here</strong>
                </div>
              </div>
              <div class="spacer-8px"></div>
              <div aria-hidden="true" class="size-limit">Size limit: 10MB</div>
            </div>

            <div class="file-preview-wrapper" id="filePreview" *ngIf=" this.form.get('writingSamples')?.value">
              <div class="file-upload">
                <img class="image-" id="setImg" src= "{{this.form.get('writingSamples')?.value}}" />
              </div>
              <div class="preview-footer">
                <div class="file-name">
                  <div class="file-name-wrapper">
                    <div class="text-wrapper" id="fileName" >{{fileName}}</div>
                    <div class="extension-wrapper"></div>
                  </div>

                  <div class="name-spacer"></div>
                  <button class="delete-file" (click)="this.form.get('writingSamples')?.setValue('')">
                     <span class="delete-icon">
                <svg height="10" width="10">
                  <path d="M4.6 3.2L7.8 0l1.4 1.4L6 4.6l3.2 3.2-1.4 1.4L4.6 6 1.4 9.2 0 7.8l3.2-3.2L0 1.4 1.4 0l3.2 3.2z"></path>
                </svg>
              </span>
                  </button>
                </div>

              </div>
            </div>

          </div>
        </div>


      </div>

      <div class="btn-grp">
        <button class="mat-custom-button" mat-button matStepperNext>Ok <span class="tick"></span></button>
        <span class="ml-2">press <strong>Enter ↵</strong></span>
      </div>

    </div>
    <div class="col-md-6 rightView-Wrapper">
      <div class="div-header">
        <h2>Writing Samples</h2>
      </div>
      <div class="row center-wrapper">

        <div class="col-md-12 text-center pointer-envents-none">
          <button class="btn-sample"> <mat-icon aria-hidden="false"  fontIcon="download"></mat-icon> Writing Samples</button>
        </div>

      </div>
    </div>

  </div>



</form>
